@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
  unicode-range:U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
  unicode-range: U+00-52F, U+1E00-1FFF, U+2200-22FF;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;

  margin: 0;
  padding: 0 40px;
  background-color: rgba(242, 242, 242, 1);
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

                                                      /* PAGE-CONTAINER */

.page-container {
  display: flex;
  flex-direction: column;

  min-height: 100%;

  width: 1200px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

                                                        /* NAVIGATION-WRAPPER*/

.navigation-wrapper {
  display: flex;

  box-sizing: border-box;
  width: 1080px;
  min-height: 44px;
  margin: 0 70px 0 70px;
}

.navigation-wrapper .header-logo {
  z-index: 1;
}

.header-logo a {
  display: block;

  height: 70px;
  width: 140px;

  object-fit: contain;
}

.navigation-wrapper .list-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 507px;
  min-height: 44px;
  padding: 0 30px;
  margin: 0;

  list-style: none;
}

.list-navigation .navigation-item {
  margin-bottom: 10px;
}

.navigation-item.active {
  text-decoration: underline;
  text-decoration-color: rgba(117, 98, 87, 1);
  text-underline-offset: 20px;
  text-underline-position: under;

  z-index: 1;
}

.navigation-item a {
  display: block;
  min-width: 44px;
  max-width: 180px;
  word-wrap: break-word;

  padding: 20px 16px;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

                                                        /* FAVORITES */

.navigation-wrapper .user-favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: self-start;

  margin: 0 0 0 auto;

  width: 400px;
  min-height: 65px;
  padding-bottom: 10px;
  padding-left: auto;
}

.user-favorites-container .icon-page-search {
  min-width: 44px;
  min-height: 64px;
  word-wrap: break-word;

  background: url("../img/header/icon-search.svg") center no-repeat;
}

.icon-page-search span {
  word-wrap: break-word;
}

.user-favorites-container .icon-favorites {
  min-width: 44px;
  min-height: 64px;
  word-wrap: break-word;


  background: url("../img/header/icon-favorites.svg") center no-repeat;

  position: relative;
}

.icon-favorites span {
  word-wrap: break-word;
}

[data-quantity]::after {
  content: attr(data-quantity);
  width: 20px;
  height: 20px;

  padding: 0;

  position: absolute;
  top: 11px;
  left: 20px;

  font-size: 10px;
  line-height: 20px;

  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.user-favorites-container .header-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  word-wrap: break-word;

  width: 160px;
  min-height: 36px;

  align-self: flex-start;
  margin: 14px 0 14px 20px;

  padding: 8px 34px;
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 0;
}

.header-button:hover, .header-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.header-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

                                                        /* MAIN-CONTAINER */

.main-container {
  width: 1200px;
  margin: 0 auto;

  flex-grow: 1;
}

                                                        /* HERO-CONTAINER */

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 485px;

  text-align: center;

  width: 1200px;
  min-height: 261px;
  margin: -10px auto;
  margin-bottom: 21px;

  background: url("../img/hero-background.jpg") center top no-repeat;
}

.topic-hero {
  min-height: 72px;
  padding: 69px 0;
}

.hero-container h2 {
  font-size: 30px;
  line-height: 36px;

  word-wrap: break-word;
  text-transform: uppercase;

  width: 700px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-container p {
  color: rgba(51, 51, 51, 1);
  word-wrap: break-word;

  width: 700px;
  min-height: 12px;
  margin: 0 auto;
}

                                                       /* ADVANTAGES */

.advantages-container {
  min-height: 385px;
}

.list-advantages {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);
  grid-auto-flow: dense;
}


.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  word-wrap: break-word;

  padding: 85px 85px;
}

.advantage-item h3 {
  font-size: 24px;
  line-height: 28px;

  min-width: 230px;
  min-height: 14px;
  margin: 0 ;
  margin-bottom: 30px;

  word-wrap: break-word;
  text-transform: uppercase;
}

.advantage-item p {
  font-size: 18px;
  line-height: 21px;

  width: 230px;
  min-height: 12px;
  margin: 0 auto;
  margin-top: 31px;

  word-wrap: break-word;

  position: relative;
}

.advantage-item p::before {
  content: "";

  width: 60px;
  height: 2px;

  top: -32px;
  left: 85px;

  background-color: rgba(0, 0, 0, 0.3);

  position: absolute;
}

.advantage-item.duble {
  grid-column: span 2;
}

.advantage-item:nth-child(1) p::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item:nth-child(7) p::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item:nth-child(1) {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.advantage-item:nth-child(2) {
  background-image: url("../img/advantages/bar.jpg");
  background-size: cover;
}

.advantage-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(4) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(5) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(6) {
  background-image: url("../img/advantages/canyon.jpg");
  background-size: cover;
}

.advantage-item:nth-child(7) {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

                                                      /* RECOMMENDATIONS */

.recommendations-container {
  text-align: center;
  width: 1200px;
  min-height: 385px;
  margin: 0 auto;
}

.topic-recommendations {
  padding: 64px 0;
}

.recommendations-container h2 {
  font-size: 30px;
  line-height: 36px;

  word-wrap: break-word;
  text-transform: uppercase;

  width: 700px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.recommendations-container p {
  color: rgba(51, 51, 51, 1);

  width: 700px;
  min-height: 12px;

  margin: 0 auto;
  word-wrap: break-word;
}

.recommendations-container .list-recommendations {
  padding: 0;
  list-style: none;

  display: grid;

  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);
  grid-auto-flow: dense;
}

.recommendations-item {
  padding: 81px 85px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

.recommendations-item h3 {
  font-size: 24px;
  line-height: 28px;

  width: 230px;
  min-height: 16px;
  margin: 30px auto;

  word-wrap: break-word;
  text-transform: uppercase;
}

.recommendations-item p {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);

  width: 230px;
  min-height: 12px;
  margin: 0 auto;
  word-wrap: break-word;
}

.housing::before {
  content: "";

  width: 75px;
  height: 72px;

  background-image: url("../img/recommendations/home-icon.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";

  width: 75px;
  height: 72px;

  background-image: url("../img/recommendations/burger-icon.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";

  width: 75px;
  height: 76px;
  margin-bottom: -4px;

  background-image: url("../img/recommendations/souvenirs-icon.svg");
  background-repeat: no-repeat;
}

                                                     /* HOTEL-SEARCH-CONTAINER */

.hotel-search-container {
  display: flex;
  flex-direction: column;

  text-align: center;

  min-height: 200px;
  min-width: 476px;
  padding: 96px 304px;

  margin: 0 auto;
}

.hotel-search-container h2 {
  font-size: 30px;
  line-height: 36px;

  word-wrap: break-word;
  text-transform: uppercase;

  width: 592px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hotel-search-container p {
  color: rgba(51, 51, 51, 1);

  width: 592px;
  min-height: 12px;

  margin: 0;
  margin-bottom: 54px;
  word-wrap: break-word;
}

.hotel-search-container .hotel-search-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  display: block;
  min-width: 376px;
  padding: 8px 50px;

  margin: 0 auto;

  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;

  border: none;
  border-radius: 4px;
}

.hotel-search-button:hover, .hotel-search-button:focus {
  background-color: rgba(97, 80, 72, 1)
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.hotel-search-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

                                                     /* SUBSCRIBE */


.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;

  padding: 96px 258px 104px 258px;

  text-align: center;
}

.subscribe-container.with-background {
  background-image: url("../img/subscribe-background.jpg");
  background-size: cover;

  color: rgba(255, 255, 255, 1);
  background-color: rgb(80, 122, 150);
}

.subscribe-container h2 {
  font-size: 30px;
  line-height: 36px;

  width: 516px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;

  word-wrap: break-word;
  text-transform: uppercase;
}

.subscribe-container p {
  width: 516px;
  min-height: 12px;
  margin: 0;
  margin-bottom: 54px;
  word-wrap: break-word;
}

.subscribe-container .input-wrapper {
  box-sizing: border-box;
  width: 684px;
  min-height: 52px;

  display: flex;
  justify-content: center;

  padding: 0;
  border: 0;
}

.subscribe-container .field-email {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  box-sizing: border-box;
  min-width: 342px;
  min-height: 52px;
  flex-grow: 1;
  padding: 14px 20px;

  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);

  border: none;
  border-radius: 4px 0 0 4px;
}

.field-email:focus {
  outline: 3px solid;
  outline-color: rgba(131, 179, 211, 1);
}

.subscribe-container .submit-subscribe {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  box-sizing: border-box;

  min-width: 104px;
  min-height: 52px;

  margin: 0;

  word-wrap: break-word;

  padding: 8px 50px;
  background: rgba(130, 179, 211, 1);

  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  border: none;
  border-radius: 0 4px 4px 0;
}

.submit-subscribe:hover, .submit-subscribe:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.submit-subscribe:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

                                                  /* FILTER */

.filter-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "route route route route"
    "infrastructure type-housing price buttons";

  width: 1060px;
  padding: 35px 70px 35px;

  margin: -10px auto;
  margin-bottom: 0;

  background-image: url("../img/filter-background.jpg");
  background-size: cover;

  color: rgba(255, 255, 255, 1);
  background-color:  rgb(80, 122, 150);
}

.filter-container h2 {
  font-size: 60px;
  line-height: 78px;
  word-wrap: break-word;

  width: 700px;
  min-height: 16px;

  margin: 0;
  margin-bottom: 8px;

  grid-area: header;
}

.filter-container .route-list {
  font-size: 16px;
  line-height: 21px;

  grid-area: route;

  display: flex;
  width: 1060px;
  min-height: 13px;
  flex-wrap: wrap;
  column-gap: 10px;

  align-items: flex-start;
  padding: 0;

  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

.route-list .icon-home {
  display: inline-block;
  min-width: 13px;
  min-height: 15px;

  margin: 3px 0;
  background: url("../img/catalog/icon-home-route.svg") no-repeat center;
}

.name-page-before {
  display: inline-block;
  background: url("../img/catalog/icon-route.svg") no-repeat center;

  width: 6.39px;
  height: 9.94px;
  margin: 5px 0;
}

.route-list .name-page {

  display: inline-block;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.filter-container .filter-wrapper {
  display: flex;
  width: 1060px;

  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
}

.filter-wrapper .infrastructure-box {
  display: flex;
  flex-direction: column;
  align-items: start;

  grid-area: infrastructure;

  width: 150.43px;
  min-height: 100px;
  margin: 0;
  margin-right: 20.43px;
  margin-bottom: 35px;

  padding: 0;
  border: 0;
}

.infrastructure-box legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  width: 200px;
  min-height: 12px;
  padding: 0;

  word-wrap: break-word;

  margin-bottom: 32px;
}

.infrastructure-box input {
  margin: 0;
  margin-right: 16px;
}

.infrastructure-box label {
  font-size: 18px;
  line-height: 23px;

  width: 200px;
  min-height: 12px;

  word-wrap: break-word;

  margin-bottom: 19px;
}

.filter-wrapper .type-housing-box {
  display: flex;
  flex-direction: column;

  width: 150.43px;
  min-height: 100px;
  padding: 0;

  grid-area: infrastructure;

  margin: 0;
  margin-right: 20px;
  margin-bottom: 35px;

  border: 0;
}

.type-housing-box legend {
  font-weight: 700;
  font-size: 20px;

  width: 270.58px;
  min-height: 12px;
  padding: 0;

  word-wrap: break-word;

  margin-bottom: 32px;
}

.type-housing-box input {
  margin: 0;
  margin-right: 16px;
}

.type-housing-box label {
  font-size: 18px;
  line-height: 23px;

  width: 270.58px;
  min-height: 12px;

  word-wrap: break-word;

  margin-bottom: 19px;
}

.filter-wrapper .price-box {
  font-size: 0;

  grid-area: price;

  box-sizing: border-box;
  width: 288px;
  min-height: 100px;
  padding: 0;

  margin: 0;
  margin-right: 20px;
  margin-bottom: 35px;

  border: none;
}

.price-box legend {
  font-weight: 700;
  font-size: 20px;

  width: 338px;
  min-height: 12px;
  padding: 0;

  word-wrap: break-word;

  margin-bottom: 32px;
}

.price-box .min-price  {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  box-sizing: border-box;
  width: 143px;
  height: 48px;

  margin-right: 2px;
  margin-bottom: 36px;

  padding: 12px 20px;

  border: none;
  border-radius: 4px 0 0 4px;
}

.price-box .max-price {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  box-sizing: border-box;
  width: 143px;
  height: 48px;

  margin-bottom: 36px;

  padding: 12px 20px;

  border: none;
  border-radius: 0 4px 4px 0;
}

.price-box .range-price {
  width: 288px;
  min-height: 14px;
}

.filter-wrapper .filter-buttons-box {
  width: 191px;
  min-height: 100px;

  padding: 0;
  padding-top: 40px;

  margin: 0;
  border: 0;
  margin-bottom: 35px;

  grid-area: buttons;
}

.filter-buttons-box .apply-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin: 16px 0;

  border: none;
  border-radius: 4px;

  width: 191px;
  min-height: 36px;
  padding: 8px;

  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);

  text-transform: uppercase;
  word-wrap: break-word;
}

.apply-button:hover, .apply-button:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.apply-button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

.filter-buttons-box .reset-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border: none;
  border-radius: 4px;

  width: 191px;
  min-height: 36px;
  padding: 8px;

  margin: 16px 0;

  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  word-wrap: break-word;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  outline: 3px solid;
  outline-color: rgba(131, 179, 211, 1);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.reset-button:disabled {
  color: rgba(255, 255, 255, 0.1)
}

                                                        /* CATALOG-CONTAINER */

.catalog-container {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px 70px;
}

.catalog-container .sorting-wrapper {
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  width: 1060px;
  min-height: 49px;
  padding: 0;

  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

.sorting-wrapper .sorting-label {
  width: 400px;
  margin: 0;
  margin-right: 19.72px;

}

.sorting-label h2 {
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;

  margin: 6.5px 0;
  word-wrap: break-word;
}

.sorting-wrapper .sorting-select {
  text-align: center;
  width: 320px;

  margin: 0;
  margin-right: 70px;
  margin-left: auto;
}

.sorting-select .select-price-rating {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;

  color: rgba(51, 51, 51, 1);

  width: 292px;
  height: 49px;

  padding: 5px 30px 5px 20px;

  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.sorting-wrapper .sorting-view-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 180px;
  gap: 8px;

  margin: 0;
  margin-left: 20px;
}

.sorting-view-buttons button {
  display: block;
  min-width: 48px;
  min-height: 48px;

  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;

  cursor: pointer;
}

.sorting-view-buttons button:hover, .sorting-view-buttons button:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.sorting-view-buttons button:focus {
  outline: none;
  border: 2px solid rgba(104, 162, 202, 1);
}

.sorting-view-buttons .button-tile-view {
  background-image: url(../img/catalog/icon-tile.svg);
}

.sorting-view-buttons .button-column-view {
  background-image: url(../img/catalog/icon-column.svg);
}

.sorting-view-buttons .button-list-view {
  background-image: url(../img/catalog/icon-list.svg);
}

.sorting-view-buttons .selected {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
}

                                                  /* LIST CATALOG */

.catalog-container .list-catalog {
  display: grid;
  grid: minmax(438px, auto) / repeat(3, 340px);
  gap: 20px;

  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);

  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

.list-catalog .list-catalog-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content 1fr min-content min-content;
  align-content: space-between;

  column-gap: 20px;
  row-gap: 16px;

  padding: 20px;

  box-shadow: 0 0 0 1px rgba(230, 230, 230, 1) inset;
  border-radius: 4px;
}

.list-catalog-item .figure {
  display: flex;
  flex-direction: column;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  margin: 0;
}

.figure .hotel-landscape {
  object-fit: cover;

  margin-bottom: 16px;

  order: -1;
}

.figure .figcaption {
  font-size: 24px;
  line-height: 28px;

  text-transform: none;
  word-wrap: break-word;

  margin: 0;
}

.list-catalog-item .card-price {
  font-size: 18px;
  line-height: 21px;

  color: rgba(51, 51, 51, 1);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5em;

  margin: 0;

  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.card-price dt {
  max-width: 140px;
  flex-shrink: 1;
  word-wrap: break-word;
}

.card-price dd {
  margin: 0;
  min-width: 140px;

  text-align: right;
  word-wrap: break-word;
}

.list-catalog-item .more-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  width: 140px;
  min-height: 36px;

  word-wrap: break-word;
  text-transform: uppercase;

  padding: 8px;
  text-align: center;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);

  border: 0;
  border-radius: 4px;

  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.more-button:hover, .more-button:focus {
  outline: none;
  background-color: rgba(97, 80, 72, 1);
}

.more-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.more-button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.list-catalog-item .to-favorites-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  width: 140px;
  min-height: 36px;
  word-wrap: break-word;
  padding: 8px 8px;

  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);

  border: 0;
  border-radius: 4px;

  grid-column: 2 / -1;
  grid-row: 3 / 4;
}

.to-favorites:hover, .to-favorites:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.to-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.to-favorites.elected {
  background-color: rgba(125, 181, 79, 1);
}

.to-favorites.elected:hover, .to-favorites.elected:focus {
  background-color: rgba(108, 158, 66, 1);
}

.to-favorites.elected:active {
  color: rgba(255, 255, 255, 0.3);
}

.to-favorites:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.list-catalog-item .stars-list {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-start;

  list-style: none;
  padding: 10px 0;

  grid-column: 1 / 2;
  grid-row: 4 / 5;

  align-self: end;
}

.stars-list li {
  width: 18px;
  height: 17px;

  background: url("../img/catalog/icon-star.svg") no-repeat left;
}

.list-catalog-item .rating-block {
  display: flex;
  flex-wrap: wrap;

  box-sizing: border-box;
  width: 100%;
  min-height: 37px;
  padding: 9px 22px 8px 23px;

  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: rgba(242, 242, 242, 1);

  margin: 0;
  border-radius: 4px;

  grid-column: 2 / -1;
  grid-row: 4 / 5;

  align-self: start;
}

.rating-block dt {
  font-size: 16px;
  line-height: 20px;

  width: 70px;
  min-height: 20px;
  word-wrap: break-word;
}

.rating-block dd {
  font-size: 16px;
  line-height: 20px;

  width: 25px;
  min-height: 20px;
  text-align: right;
  word-wrap: break-word;
  margin: 0;
}

                                                     /* PAGINATION-WRAPPER */

.catalog-container .pagination-wrapper {
  font-weight: 700;
  font-size: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0;
  padding: 0;
}

.pagination-wrapper a {
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 10px 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;

  word-wrap: break-word;
  text-decoration: none;
}

.pagination-wrapper a:hover, .pagination-wrapper a:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.pagination-wrapper a:nth-child(5) {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}



.pagination-wrapper a.active {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

                                                      /* FOOTER */

.footer_list {
  box-sizing: border-box;
  width: 1200px;

  margin: 0 auto;
  margin-top: auto;

  padding: 40px 70px 30px 70px;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.footer_list .social-networks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 144px;
  min-height: 20px;
}

.social-networks-wrapper .logo {
  display: block;
  min-width: 47.33px;
  min-height: 40px;
}

.logo:focus {
  outline: none;
}

.social-networks-wrapper .logo:hover path, .logo:focus path {
  fill: rgba(104, 162, 202, 1);
}

.social-networks-wrapper .logo:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer_list .telefon {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;

  width: 400px;
  margin: 0 auto;
  min-height: 33px;

  text-align: center;
  word-wrap: break-word;
}

.telefon a:hover {
  color: rgba(117, 97, 87, 1);
}

.telefon a:focus {
  outline: none;
  color: rgba(117, 97, 87, 1);
}

.telefon a:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer_list .logo-academy {
  display: block;
  min-width: 115px;
  min-height: 33px;
}

.logo-academy:focus {
  outline: none;
}

.logo-academy:focus path, .logo-academy:hover path {
  fill: rgba(117, 97, 87, 1);
}

.logo-academy:active path {
  fill: rgba(117, 97, 87, 0.3);
}
