@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;

  margin: 0;
  padding: 0 40px;
  background-color: rgba(242, 242, 242, 1);
  color: black;
}

.visually-hidden {
  display: none;
}

                                                      /* PAGE-CONTAINER */

.page-container {
  width: 1200px;
  margin: 0 auto;

  flex-grow: 1;

  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

                                                        /* HEADER */

.page-header {
  width: 1200px;
  min-height: 76px;
  margin: 0 auto;
}

.navigation-container {
  display: flex;
  justify-content: space-between;

  width: 1060px;
  min-width: 44px;
  margin: 0 auto;
  padding: 0 70px;
}

                                                     /* LIST-NAVIGATION */

.list-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  display: flex;

  min-width: 140px;
  min-height: 44px;
  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 1;
}

.list-navigation a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  min-width: 50px;
  min-height: 26px;
}

.list-navigation .logo {
  display: block;
  margin: 0;
  margin-right: 44px;

  min-width: 100px;
  min-height: 36px;
}

.logo img {
  display: block;
}

.list-navigation .navigation-item {
  margin-bottom: 10px;
  padding-top: 20px;
  margin-right: 32px;

  cursor: pointer;
}

.navigation-item.active {
  text-decoration: underline;
  text-decoration-color: rgba(117, 98, 87, 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 19px;
  text-underline-position: under;
}

                                                        /* FAVORITES */

.user-favorites-container {
  display: flex;
  align-items: center;

  margin: 0 0 0 auto;

  min-width: 140px;
  min-height: 44px;
  padding-bottom: 10px;
}

.icon-page-search {
  width: 44px;
  height: 64px;

  background: url("../img/header/icon-search.svg") center no-repeat;
}

.icon-favorites {
  width: 44px;
  height: 64px;

  margin-right: 20px;

  background: url("../img/header/icon-favorites.svg") center no-repeat;

  position: relative;
}

[data-quantity]::after {
  content: attr(data-quantity);
  width: 20px;
  height: 20px;

  padding: 0;

  position: absolute;
  top: 11px;
  left: 20px;

  font-size: 10px;
  line-height: 20px;

  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.user-favorites-container .want-here-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  text-transform: uppercase;

  box-sizing: border-box;
  width: 160px;
  height: 36px;

  align-self: self-start;
  margin-top: 14px;

  padding: 8px 34px;
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 0;
}

.want-here-button:hover, .want-here-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.want-here-button:active {
  color: rgba(255, 255, 255, 0.3)
}

                                                        /* MAIN */

.main-container {
  flex-grow: 1;
}

                                                          /* HERO */

.hero {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 1200px;
  min-height: 485px;
  margin: -12px auto;
  margin-bottom: 90px;

  background: url("../img/hero-background.jpg") center top no-repeat;

}

.hero h2 {
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;

  width: 655px;
  min-height: 16px;
  margin: 0 auto;
  margin-top: 554px;
  margin-bottom: 25px;
}

.hero p {
  color: rgba(51, 51, 51, 1);

  width: 684px;
  min-height: 12px;
  margin: 0 auto;
}

                                                       /* ADVANTAGES */

.advantages-container {
  min-width: 1060px;
  min-height: 770px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.list-advantages {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);
  grid-template-areas:

    "text-1 images-1 images-1"
    "text-2 text-3 text-4"
    "images-2 images-2 text-5";

  padding: 0;
  list-style: none;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 85px 85px;
}

.advantage-item h3 {
  font-size: 24px;
  line-height: 28px;

  width: 230px;
  min-height: 14px;
  margin: 0 ;
  margin-bottom: 30px;

  text-transform: uppercase;
}

.advantage-item p {
  font-size: 18px;
  line-height: 21px;

  width: 230px;
  min-height: 12px;
  margin: 0 auto;
  margin-top: 31px;

  position: relative;
}

.advantage-item p::before {
  content: "";

  top: -32px;
  left: 85px;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);

  position: absolute;
}

.advantage-item:nth-child(1) p::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item:nth-child(7) p::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-item:nth-child(1) {
  grid-area: text-1;

  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

.advantage-item:nth-child(2) {
  grid-area: images-1;

  background-image: url("../img/advantages/bar.jpg");
}

.advantage-item:nth-child(3) {
  grid-area: text-2;

  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(4) {
  grid-area: text-3;

  background: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(4) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(5) {
  grid-area: text-4;

  background: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(5) p {
  color: rgba(51, 51, 51, 1);
}

.advantage-item:nth-child(6) {
  background-image: url("../img/advantages/canyon.jpg");

  grid-area: images-2;
}

.advantage-item:nth-child(7) {
  background: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);

  grid-area: text-5;
}

                                                      /* RECOMMENDATIONS */

.recommendations-container {
  text-align: center;
  width: 1200px;
  min-height: 385px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.recommendations-container h2 {
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;

  width: 655px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.recommendations-container p {
  color: rgba(51, 51, 51, 1);

  width: 684px;
  min-height: 12px;

  margin: 0 auto;
  margin-bottom: 64px;
}

.list-recommendations {
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-rows: minmax(385px, auto);

  margin: 0 auto;
  margin-bottom: 96px;
}

.recommendations-item {
  padding: 0 85px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommendations-item h3 {
  font-size: 24px;
  line-height: 28px;

  width: 230px;
  min-height: 16px;
  margin: 30px auto;

  text-transform: uppercase;

  order: 1;
}

.recommendations-item p {
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);

  width: 230px;
  min-height: 12px;
  margin: 0 auto;
}

.housing::before {
  content: "";

  width: 75px;
  height: 72px;

  background-image: url("../img/recommendations/home-icon.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";

  width: 75px;
  height: 72px;

  background-image: url("../img/recommendations/burger-icon.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";

  width: 75px;
  height: 76px;
  margin-bottom: -4px;

  background-image: url("../img/recommendations/souvenirs-icon.svg");
  background-repeat: no-repeat;
}

                                                     /* HOTEL-SEARCH */

.hotel-search {
  display: flex;
  flex-direction: column;

  text-align: center;

  min-height: 200px;
  min-width: 476px;
  padding: 0 258px;

  margin: 0 auto;
  margin-bottom: 96px;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;

  align-content: center;
  text-transform: uppercase;

  width: 655px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hotel-search p {
  color: rgba(51, 51, 51, 1);

  width: 684px;
  min-height: 12px;

  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-decoration: none;

  width: 376px;
  padding: 8px 50px;

  margin: 0 auto;

  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;

  border: none;
  border-radius: 4px;
}

.hotel-search-button:hover, .hotel-search-button:focus {
  background-color: rgba(97, 80, 72, 1)
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3)
}

                                                     /* SUBSCRIBE */


.subscribe {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;

  padding: 96px 258px;

  text-align: center;
}

.subscribe.with-background {
  background: url("../img/subscribe-background.jpg") no-repeat;
  background-size: cover;

  color: rgba(255, 255, 255, 1);
  background-color: rgb(80, 122, 150);
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;

  width: 655px;
  min-height: 16px;
  margin: 0 auto;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.subscribe p {
  width: 684px;
  min-height: 12px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe .input-box {
  box-sizing: border-box;
  width: 684px;
  min-height: 52px;

  display: flex;
  justify-content: space-between;

  padding: 0;
  border: 0;
}

.subscribe .field-email {
  font-size: 18px;
  line-height: 24px;

  box-sizing: border-box;
  width: 452px;
  min-height: 52px;

  border: none;
  border-radius: 4px 0px 0px 4px;

  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);

  padding: 14px 20px;

  font-family: inherit;
}

.field-email:focus {
  outline: 3px solid;
  outline-color: rgba(131, 179, 211, 1);
}

.subscribe .submit-subscribe {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  box-sizing: border-box;
  width: 232px;
  min-height: 52px;

  padding: 8px 50px;
  background: rgba(130, 179, 211, 1);

  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  border: none;
  border-radius: 0px 4px 4px 0px;
}

.submit-subscribe:hover, .submit-subscribe:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.submit-subscribe:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

                                                  /* FILTER */

.filter-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "route route route route"
    "infrastructure type-housing price buttons";

  width: 1060px;
  padding: 35px 70px 70px;

  margin: -12px auto;
  margin-bottom: 56.5px;

  background-image: url("../img/filter-background.jpg");
  background-size: cover;

  color: rgba(255, 255, 255, 1);
  background-color:  rgb(80, 122, 150);
}

.filter-container h2 {
  font-size: 60px;
  line-height: 78px;

  width: 1060px;
  min-height: 16px;

  margin: 0;
  margin-bottom: 8px;

  grid-area: header;
}

.filter-container .route {
  font-size: 16px;
  line-height: 21px;

  grid-area: route;

  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 13px;

  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

.route a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.route .icon-home {
  display: block;
  width: 13px;
  height: 15px;

  background: url("../img/catalog/icon-home-route.svg") no-repeat center;
}

.route .name-page {
  padding-left: 28px;

  position: relative;
}

.name-page::before {
  content: "";
  background: url("../img/catalog/icon-route.svg") no-repeat center;
  left: 10px;
  top: 0px;

  width: 8px;
  height: 19.94px;

  position: absolute;
}

.filter-container .form-filter {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.form-filter .infrastructure {
  display: flex;
  flex-direction: column;
  align-items: start;

  grid-area: infrastructure;

  width: 150.43px;
  min-height: 100px;
  margin: 0;
  margin-right: 20.43px;

  padding: 0;
  border: 0;
}

.infrastructure legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  width: 200px;
  min-height: 12px;
  padding: 0;

  margin-bottom: 32px;
}

.infrastructure input {
  margin: 0;
  margin-right: 16px;
}

.infrastructure label {
  font-size: 18px;
  line-height: 23px;

  width: 200px;
  min-height: 12px;

  margin-bottom: 19px;
}

.form-filter .type-housing {
  display: flex;
  flex-direction: column;

  width: 150.43px;
  min-height: 100px;

  grid-area: infrastructure;

  margin: 0;
  margin-right: 20px;
  padding: 0;

  border: 0;
}

.type-housing legend {
  font-weight: 700;
  font-size: 20px;

  width: 270.58px;
  min-height: 12px;
  padding: 0;

  margin-bottom: 32px;
}

.type-housing input {
  margin: 0;
  margin-right: 16px;
}

.type-housing label {
  font-size: 18px;
  line-height: 23px;

  width: 270.58px;
  min-height: 12px;

  margin-bottom: 19px;
}

.form-filter .price {
  font-size: 0px;

  grid-area: price;

  box-sizing: border-box;
  width: 288px;
  min-height: 100px;
  padding: 0;

  margin: 0;
  margin-right: 20px;

  border: none;
}

.price legend {
  font-weight: 700;
  font-size: 20px;

  width: 338px;
  min-height: 12px;
  padding: 0;

  margin-bottom: 32px;
}

.price .min-price  {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  display: inline;

  box-sizing: border-box;
  width: 143px;
  height: 48px;

  margin-right: 2px;
  margin-bottom: 36px;

  padding: 12px 20px;

  border: none;
  border-radius: 4px 0 0 4px;
}

.price .max-price  {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  display: inline;

  box-sizing: border-box;
  width: 143px;
  height: 48px;

  margin-bottom: 36px;

  padding: 12px 20px;

  border: none;
  border-radius: 0 4px 4px 0;
}

.price .range-price {
  width: 288px;
  min-height: 14px;
}

.form-filter .filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 191px;
  min-height: 100px;
  padding: 0;
  border: 0;

  grid-area: buttons;

  margin: 0;
}

.filter-buttons .apply-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 32px;

  border: none;
  border-radius: 4px;

  width: 191px;
  min-height: 36px;
  padding: 8px;

  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);

  text-transform: uppercase;
}

.apply-button:hover, .apply-button:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.apply-button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

.filter-buttons .reset-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border: none;
  border-radius: 4px;

  width: 191px;
  min-height: 36px;
  padding: 8px;

  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus {
  outline: 3px solid;
  outline-color: rgba(131, 179, 211, 1);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.reset-button:disabled {
  color: rgba(255, 255, 255, 0.1)
}

                                                        /* CATALOG-CONTAINER */

.catalog-container {
  width: 1060px;
  margin: 0 auto;
  padding: 0px 70px;
}

.catalog-container .result-sorting {
  display: flex;

  width: 1060px;
  height: 49px;
  padding: 0;

  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.result-sorting .sorting-label {
  align-self: center;

  width: 500px;
  margin: 0;
  margin-right: 19.72px;
}

.result-sorting .select-container {
  text-align: center;

  margin: 0;
  margin-right: 70px;
  margin-left: auto;
}

.select-container .select-price-rating {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;

  color: rgba(51, 51, 51, 1);

  width: 292px;
  height: 49px;

  padding: 14px 25px 14px 20px;

  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.result-sorting .catalog-view-buttons {
  display: flex;
  width: 160px;

  margin: 0;
  margin-left: 20px;
}

.catalog-view-buttons a {
  display: block;
  width: 48px;
  height: 48px;

  margin-right: 8px;

  cursor: pointer;
}

.catalog-view-buttons a:last-child {
  margin-right: 0;
}

.catalog-view-buttons a {
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.catalog-view-buttons a:hover, .catalog-view-buttons a:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-view-buttons a:focus {
  outline: none;
  border: 2px solid rgba(104, 162, 202, 1);
}

.catalog-view-buttons .button-tile-view {
  background-image: url(../img/catalog/icon-tile.svg);
}

.catalog-view-buttons .button-column-view {
  background-image: url(../img/catalog/icon-column.svg);
}

.catalog-view-buttons .button-list-view {
  background-image: url(../img/catalog/icon-list.svg);
}

.catalog-view-buttons .selected {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
}

                                                  /* LIST CATALOG */

.catalog-container .list-catalog {
  box-sizing: border-box;
  width: 1060px;
  padding: 0;

  margin: 0 auto;
  margin-bottom: 80px;

  display: grid;
  grid: auto-flow minmax(438px, auto) / repeat(3, 340px);
  gap: 20px;

  align-items: flex-start;

  list-style: none;
}

.list-catalog .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  margin: 0;

  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
}

.card .figure {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 16px;
}

.figure .hotel-landscape {
  margin-bottom: 16px;

  object-fit: cover;

  order: -1;
}

.figure .figcaption {
  text-transform: none;
  margin: auto 0 0 0;
}

.card td {
  padding: 0;
}

.card .card-price {
  font-size: 18px;
  line-height: 21px;

  color: rgba(51, 51, 51, 1);

  display: flex;
  justify-content: space-between;

  margin: auto 0 16px 0;
}

.card .card-buttons {
  display: flex;
  justify-content: space-between;
}

.card-buttons a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  display: block;

  box-sizing: border-box;
  width: 140px;
  min-height: 36px;
  word-wrap: break-word;

  text-transform: uppercase;
  text-decoration: none;

  padding: 8px 8px;
  text-align: center;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);

  border-radius: 4px;
}

.card-buttons a:hover, .card-buttons a:focus {
  outline: none;
  background-color: rgba(97, 80, 72, 1);
}

.card-buttons a:active {
  color: rgba(255, 255, 255, 0.3);
}

.card-buttons .to-favorites {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  width: 140px;
  min-height: 36px;
  word-wrap: break-word;
  padding: 8px 8px;

  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);

  border: 0;
  border-radius: 4px;
}

.to-favorites:hover, .to-favorites:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.to-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.card-buttons .to-favorites.elected {
  background-color: rgba(125, 181, 79, 1);
}

.to-favorites.elected:hover, .to-favorites.elected:focus {
  background-color: rgba(108, 158, 66, 1);
}

.to-favorites.elected:active {
  color: rgba(255, 255, 255, 0.3);
}

.to-favorites.disabled {
  background-color: rgba(229, 229, 229, 1);
}

.card .hotel-status {
  font-size: 16px;
  line-height: 20px;

  color: rgba(51, 51, 51, 1);

  display: flex;
  box-sizing: border-box;
  width: 300px;
  justify-content: space-between;

  text-transform: uppercase;

  padding: 9px 0px 8px 0px;

  margin-top: 16px;
}

.hotel-status .stars-list {
  display: flex;
  justify-content: start;
  align-items: center;

  list-style: none;
  padding: 0;
}

.stars-list li {
  width: 18px;
  height: 17px;

  background: url("../img/catalog/icon-star.svg") no-repeat left;
}

.hotel-status .rating-block {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 140px;
  margin: 0;
}

.rating-block dt {
  width: 70px;
  min-height: 20px;
}

.rating-block dd {
  width: 22px;
  min-height: 20px;
  margin: 0;
}

                                                     /* PAGINATION */

.catalog-container .pagination {
  font-weight: 700;
  font-size: 20px;

  display: flex;
  margin: 0;
  padding: 0;
}

.pagination a {
  display: block;

  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 10px 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);

  text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
  outline: none;
  background-color: rgba(104, 162, 202, 1);
}

.pagination a:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination a:nth-child(5) {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination a:last-child {
  margin-right: 0;
  color: rgba(255, 255, 255, 1);
}

.pagination a.active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

                                                      /* FOOTER */

.footer_list {
  box-sizing: border-box;
  width: 1200px;

  margin: 0 auto;
  margin-top: auto;

  padding: 45px 70px 35px;

  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.footer_list .social-networks-container {
  display: flex;
  align-items: center;

  min-width: 20px;
  min-height: 20px;
}

.social-networks-container .logo {
  display: block;
  width: 47.33px;
  height: 40px;
}

.logo:focus {
  outline: none;
}

.social-networks-container .logo:hover path, .logo:focus path {
  fill: rgba(104, 162, 202, 1);
}

.social-networks-container .logo:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer_list .telefon {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;

  min-width: 115px;
  min-height: 33px;
}

.telefon a:hover {
  color: rgba(117, 97, 87, 1);
}

.telefon a:focus {
  outline: none;
  color: rgba(117, 97, 87, 1);
}

.telefon a:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer_list .logo-html-academy {
  display: block;
  width: 115px;
  height: 33px;
}

.logo-html-academy:focus {
  outline: none;
}

.logo-html-academy:focus path, .logo-html-academy:hover path {
  fill: rgba(117, 97, 87, 1);
}

.logo-html-academy:active path {
  fill: rgba(117, 97, 87, 0.3);
}
